In [9]:
import pymysql
host = 'localhost'
port = 3306
db = 'mydata'
user = 'root'
password = ''


# 1 学生信息库
    create table student(
        id int unsigned not null primary key,
        name varchar(10),
        birth datetime,
        sex enum("M", "F"),
        class varchar(10)
        )DEFAULT CHARSET=utf8;
    // AUTO_INCREMENT=1000 自增从1000开始
    insert into student values
        (1000, "QingHe", "1998-03-25", 'F', '1601'), 
        (1001, "HuangJing","1998-05-12", 'F', '1601'),
        (1002, "QianYe","1998-01-30", 'F', '1602');

# 2 课程信息
    create table course(
        Cnumber varchar(10),
        Cname varchar(10),
        Cteacher varchar(10));

    insert into course values
        ("201", "Chinese", "Tidy"), 
        ("202", "Math","Zuli"),
        ("203", "English", "Wond");


# 3 成绩信息
    create table grade(
        id int unsigned not null,
        Cnumber varchar(10),
        grade int);

    insert into grade values
        (1001, "201", 95), 
        (1001, "202", 92), 
        (1001, "203", 94), 
        (1002, "202", 96),
        (1002, "201", 91), 
        (1002, "203", 98), 
        (1003, "203", 94),
        (1003, "202", 95),
        (1003, "201", 97);

# 2 学生账号库
    create table studentcount(
        id int unsigned not null,
        pwd varchar(10) not null);

    insert into studentcount values
        (1001, "123456"),
        (1002, "123456"),
        (1003, "123456");
    select * from studentcount where id = 1002 and pwd = "123456"

# 4 老师账号库
    create table teachcount(
        id int unsigned not null primary key,
        pwd varchar(10) not null);

    insert into teachcount values
        (0000, "0000");

# test 
    create table test(id int ,name char(50) )default charset=utf8;
    insert into test values(123,"青叶");

In [27]:
# ---- 用pymysql 操作数据库
def check_it():
    conn = pymysql.connect(host=host, port=port, db=db, user=user, password=password)
    # 使用 cursor() 方法创建一个 dict 格式的游标对象 cursor
    cursor = conn.cursor(pymysql.cursors.DictCursor)
    # 使用 execute()  方法执行 SQL 查询
    cursor.execute("select * from students")
    # 使用 fetchone() 方法获取单条数据.
    data_list = cursor.fetchall()
    print("id \t name \t\t pwd \t\t age \t sex \t C1 \t C2 \t C3")
    for obj in data_list:
        print("%d \t %s \t %s \t %d \t %c \t %d \t %d \t %d" %(obj['id'], obj['name'], obj['pwd'], obj['age'], obj['sex'], obj['C1'], obj['C2'], obj['C3']))
    # 关闭数据库连接
    cursor.close()
    conn.close()

if __name__ == '__main__':
    check_it()

id 	 name 		 pwd 		 age 	 sex 	 C1 	 C2 	 C3
1000 	 QingHe 	 123456 	 18 	 F 	 99 	 98 	 97
1001 	 HuangJing 	 123456 	 18 	 F 	 98 	 95 	 100